@model BrianDennis.INFDTA01.Opdracht1.Models.BijlageC.MeanViewModel

@{
    ViewBag.Title = "Mean";
    Layout = "~/Views/Shared/_Layout-Matrix.cshtml";
}

<h2>Percent ratings greater than four</h2>

<ul>
    @foreach (KeyValuePair<int, float> item in Model.ResultList)
    {
        <li>MovieName: @item.Key - Percentage : @item.Value</li>
        
    }
</ul>
