<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="targets">
      <section name="userItemCsv" type="System.Configuration.NameValueSectionHandler"/>
      <section name="userItemEditedCsv" type="System.Configuration.NameValueSectionHandler"/>
      <section name="MovieLens" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Test" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Matrix" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <targets>
    <userItemCsv>
      <add key="DefaultTarget" value="7"/>
      <add key="NearestNeighbours" value="3"/>
      <add key="InitialThreshold" value="0.35"/>
      <add key="Path" value="c:\users\dennis\documents\visual studio 2013\Projects\BrianDennis.INFDTA01\BrianDennis.INFDTA01.Opdracht1\userItem.csv"/>
    </userItemCsv>
    <userItemEditedCsv>
      <add key="DefaultTarget" value="7"/>
      <add key="NearestNeighbours" value="3"/>
      <add key="InitialThreshold" value="0.35"/>
      <add key="Path" value="c:\users\dennis\documents\visual studio 2013\Projects\BrianDennis.INFDTA01\BrianDennis.INFDTA01.Opdracht1\userItemEdited.csv"/>
    </userItemEditedCsv>
    <MovieLens>
      <add key="DefaultTarget" value="186"/>
      <add key="NearestNeighbours" value="25"/>
      <add key="InitialThreshold" value="0.35"/>
      <add key="Path" value="c:\users\dennis\documents\visual studio 2013\Projects\BrianDennis.INFDTA01\BrianDennis.INFDTA01.Opdracht1\u.data"/>
    </MovieLens>
    <Test>
      <add key="DefaultTarget" value="0"/>
      <add key="NearestNeighbours" value="3"/>
      <add key="InitialThreshold" value="0.35"/>
      <add key="Path" value="--"/>
    </Test>
    <Matrix>
      <add key="Path" value="c:\users\dennis\documents\visual studio 2013\Projects\BrianDennis.INFDTA01\BrianDennis.INFDTA01.Opdracht1\matrix.csv"></add>
    </Matrix>
  </targets>
</configuration>