@model CosineViewModel
@{
    ViewBag.Title = "Cosine";
}

<h2>Cosine</h2>

@foreach (AlgorithmResultListItem item in Model.Data)
{
    <ul>
        <li>TargetUser: @item.TargetUser</li>
        <li>OtherUser: @item.OtherUser</li>
        <li>Similarity: @item.Similarity</li>
        <li>Number of missing articles for comparison: @item.NotSimilarArticles</li>
    </ul>
}