@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index - @ViewContext.RouteData.Values["view"]</h2>

<ul>
    @foreach (KeyValuePair<int, UserPreference> item in Model.Data)
    {
        <li>UserID: @item.Key</li>
    <ul>
        @foreach (KeyValuePair<int, float> preferences in item.Value.Preferences)
        {
            <li>Article: @((preferences.Key == 0) ? preferences.Key.ToString() : preferences.Key.ToString()) - Rating: @preferences.Value</li>
        }
    </ul>
    }
</ul>