@model PlainViewModel
@{
    ViewBag.Title = "Pearson";
}

<h2>Pearson - @ViewContext.RouteData.Values["view"]</h2>

@foreach (AlgorithmResultListItem item in Model.Data)
{
    <ul>
        <li>TargetUser: @item.TargetUser</li>
        <li>Nearest Neighbour ID: @item.OtherUser</li>
        <li>Similarity: @item.Similarity</li>
    </ul>
}